body {
  background-color: #EA790C;
  color: #333333;
  padding-top: 0;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxes li {
  margin-bottom: 2rem;
}

@media (min-width: 992px) {
  .boxes {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    list-style-type: none;
  }
}

.full-width {
  width: 100%;
}